* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 1%;
    height: 100%;
    width: 100%;
    background-color: black;
    color: azure;
}

.nav {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.part {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 0 2%;
}

.main h1 {
    text-transform: capitalize;
    align-items: center;
    color: rgb(55, 192, 62);
    font-size: 150px;
    line-height: 90%;
    font-family: sans-serif;
    font-weight: 500;
    width: 70%;
    margin-left: 12%;
}

.main :nth-child(1) {
    margin-top: 25%;
    font-size: 125px;
}

.main :nth-child(2),
.main :nth-child(3) {
    text-align: center;
}

#img1,
#img2,
#img3,
#img4,
#king {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    position: absolute;
    top: 15%;
    left: 38%;
}

#king {
    top: 17%
}

.images {
    z-index: 1;
}

#img1 {
    rotate: -12deg;
}

#img2 {
    rotate: -9deg;
}

#img3 {
    rotate: -5deg;
}

#img4 {
    rotate: 0deg;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: wheat;
}

@media (max-width: 1024px) {
    .main h1 {
        font-size: 120px;
        margin-left: 8%;
    }

    .main :nth-child(1) {
        margin-top: 60%;
        font-size: 55px;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #king {
        width: 300px;
        height: 300px;
        top: 20%;
        left: 35%;
    }
}

@media (max-width: 768px) {
    .main h1 {
        font-size: 80px;
        margin-left: 5%;
    }

    .main :nth-child(1) {
        margin-top: 60%;
        font-size: 55px;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #king {
        width: 250px;
        height: 250px;
        top: 25%;
        left: 30%;
    }

    .part {
        gap: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .main h1 {
        font-size: 60px;
        margin-left: 0;
        text-align: center;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #king {
        width: 200px;
        height: 200px;
        top: 20%;
        left: 20%;
    }

    .main :nth-child(1) {
        margin-top: 50%;
        font-size: 40px;
    }

    .naam h2 {
        font-size: 20px;
        text-align: center;
    }

    .part {
        flex-direction: column;
        gap: 5px;
    }
}